* {
    margin: 0;
}

.main-cadastro {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
}

.left-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-cadastro h1 {
    font-size: 36px;
    color: #77ffc0;
    font-family: poppins;
    line-height: 48px;
}

.left-cadastro span {
    font-size: 46px;
}

.right-cadastro {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 5px 45px;
}

.card-cadastro h2 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    font-family: poppins;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.textfield input {
    width: 100%;
    border: none;
    padding: 6px;
    background: #514869;
    color: #f0ffffde;
    font-size: 10pt;
    font-family: poppins;
    box-shadow: 0px 5px 45px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    width: 100%;
    color: #f0ffffde;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: poppins;
    font-size: 14px;
}

.textfield input::placeholder {
    color: rgba(220, 220, 220, 0.418)
}

.btn-cadastrar {
    width: 100%;
    padding: 10px 0px;
    margin: 28px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-family: poppins;
    transition: .4s;
    background: #00ff88;
    cursor: pointer;
}

.btn-cadastrar:hover {
    transform: scale(1.05);
    background: #fff;
}

.voltar {
    font-family: poppins;
    font-size: 14px;
    color: #fafafa;
    text-decoration: none;
    transition: .3s;
}

.voltar:hover {
    transform: scale(1.05);
}